<div class="relative h-screen">
  <iframe class="h-full w-full absolute top-0 left-0"
    src="https://www.youtube.com/embed/r588USiDBMc?autoplay=1&loop=1&mute=1&controls=0" frameborder="0">
  </iframe>

  <div
    class="absolute inset-0 bg-gradient-to-r from-black to-transparent text-white flex flex-col justify-center px-24">
    <h1 class="text-5xl font-bold">Pushpa 2 : The Rule</h1>
    <p class="py-6 text-lg w-2/4">
      The clash is on as Pushpa and Bhanwar Singh continue their rivalry in this
      epic conclusion to the two-parted action drama.
    </p>
    <div class="flex md:flex-row flex-col gap-4">
      <button class="bg-white text-black hover:opacity-80 py-2 px-12 text-lg rounded-xl">
        ▶ Play
      </button>
      <button class="bg-gray-500 text-white py-2 px-12 text-lg rounded-xl">
        More Info
      </button>
    </div>
  </div>
</div>
